body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* start header banner */
.header{
    display: flex;
    background-color: #ecb2bf;

}
.banner{
    display: flex;
}
.banner-contant{
    max-width: 600px;
    padding-left: 150px;
    padding-bottom: 50px;
}

.banner-title{
    color: #272727;
    font-size: 60px;
} 

.banner-pera{
    color: #272727;
    font-size: 15px;
}
.common-button{
    background: #E55473;
    border-radius: 5px;
    border: 0;
    font-size: 12px;
    color: white;
    font-weight: 500;
    padding: 17px 48px;
}
.banner-pic{
    height: 600px;
}
/* end header banner */


/*start 1st section*/
main{
    display: flex;
    padding-top: 150px;
}
.section-contant{
    text-align: center;
    
}
.section-pera{
    
}
.box-design{
    display: flex;
    padding-left: 150px;
    align-items: center;
    gap: 2%;
    padding-right: 150px;
    padding-left: 150px;
}
.box1{
    height: 317px;
    width: 300px;
    background-color: #F1DEE7;
    border-radius: 150px 150px 0px 0px;
    
}
.box2{
    height: 317px;
    width: 300px;
    background-color: #D9EFF0;
    border-radius: 150px 150px 0px 0px;
    
}
.box3{
    height: 317px;
    width: 300px;
    background-color: #E3EBDB;
    border-radius: 150px 150px 0px 0px;
    
}
.box-img-1 {
    width: 221px;
    height: 276px;
    padding: 42px
}
.box-img-2 {
    width: 221px;
    height: 253px;
    padding: 42px
}
.box-img-3 {
    width: 221px;
    height: 276px;
    padding: 42px
}
.anchor{
    padding-left: 500px;
    gap:805;
}