body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* start header banner */
.header{
    display: flex;
    background-color: #ecb2bf;

}
.banner{
    display: flex;
}
.banner-contant{
    max-width: 600px;
    padding-left: 150px;
    padding-bottom: 50px;
}

.banner-title{
    color: #272727;
    font-size: 60px;
} 

.banner-pera{
    color: #272727;
    font-size: 15px;
}
.common-button{
    background: #E55473;
    border-radius: 5px;
    border: 0;
    font-size: 12px;
    color: white;
    font-weight: 500;
    padding: 17px 48px;
}
.banner-pic{
    height: 600px;
}
/* end header banner */


/*start 1st section*/
main{
    /* display: flex; */
    padding-top: 110px;
}
.section{
    align-items: center;
}
.section-contant{
    text-align: center;
    /* max-width: 600px; */
    
}
.section-pera{
       
    color: rgba(39, 39, 39, 0.6);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    padding-right: 20px;
}

.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    
}
.box-design{
    display: flex;
    padding-left: 150px;
    align-items: center;
    gap: 2%;
    padding-right: 210px;
    padding-left: 210px;
}
.box1{
    height: 317px;
    width: 300px;
    background-color: #F1DEE7;
    border-radius: 150px 150px 0px 0px;
    
}
.box2{
    height: 317px;
    width: 300px;
    background-color: #D9EFF0;
    border-radius: 150px 150px 0px 0px;
    
}
.box3{
    height: 317px;
    width: 300px;
    background-color: #E3EBDB;
    border-radius: 150px 150px 0px 0px;
    
}
.box-img-1 {
    width: 221px;
    height: 276px;
    padding: 42px
}
.box-img-2 {
    width: 221px;
    height: 253px;
    padding: 42px
}
.box-img-3 {
    width: 221px;
    height: 276px;
    padding: 42px
}
.box-bottom{
    
    display: flex;
    gap: 10%;
    padding-top: 5px;
    max-width: 500px;
}
.tagline{
    text-align: center;
   
}

/* my unique section start */
.section-2{
    /* display: flex; */
    /* max-width: 1351px; */
    background-color: #ffffff;
}
.section-head{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.section-box{
    width: 229px;
    height: 230px;
    background: aqua;
    background-image: url('../image/1st.jpg');
    background-size: cover;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.box-container{
    align-items: center;
    padding: 15px 150px;
    padding-left: 199px;
    
}
.feature-container{
    align-items: center;
    padding: 15px 150px;
    padding-top: 1px;
    gap: 2%;
}
.featured-button{
    background: #F4B956;
    border-radius: 15px;
    border: 0;
    font-size: 12px;
    color: white;
    font-weight: 400;
    padding: 12px 20px;
    padding-top: 3px;
}
.featured-bottom{
    display: flex;
    max-width: 928px;
    gap: 2%;
    padding-left: 125px;
}
.all-box{
    display: flex;
    gap: 2%;
    
}