body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* start header banner */
.header{
    display: flex;
    background-color: #ecb2bf;

}
.banner{
    display: flex;
}
.banner-contant{
    max-width: 600px;
    padding-left: 150px;
    padding-bottom: 50px;
}

.banner-title{
    color: #272727;
    font-size: 60px;
} 

.banner-pera{
    color: #272727;
    font-size: 15px;
}
.common-button{
    background: #E55473;
    border-radius: 5px;
    border: 0;
    font-size: 12px;
    color: white;
    font-weight: 500;
    padding: 17px 48px;
}
.banner-pic{
    height: 600px;
}
/* end header banner */


/*start 1st section*/
main{
    /* display: flex; */
    padding-top: 110px;
}
.section{
    align-items: center;
}
.section-contant{
    text-align: center;
    /* max-width: 600px; */
    
}
.section-pera{
       
    color: rgba(39, 39, 39, 0.6);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    padding-right: 20px;
}

.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    
}
.box-design{
    display: flex;
    padding-left: 150px;
    align-items: center;
    gap: 2%;
    padding-right: 210px;
    padding-left: 210px;
}
.box1{
    height: 317px;
    width: 300px;
    background-color: #F1DEE7;
    border-radius: 150px 150px 0px 0px;
    
}
.box2{
    height: 317px;
    width: 300px;
    background-color: #D9EFF0;
    border-radius: 150px 150px 0px 0px;
    
}
.box3{
    height: 317px;
    width: 300px;
    background-color: #E3EBDB;
    border-radius: 150px 150px 0px 0px;
    
}
.box-img-1 {
    width: 221px;
    height: 276px;
    padding: 42px
}
.box-img-2 {
    width: 221px;
    height: 253px;
    padding: 42px
}
.box-img-3 {
    width: 221px;
    height: 276px;
    padding: 42px
}
.box-bottom{
    
    display: flex;
    gap: 17%;
    padding-top: 21px;
    max-width: 1149px;
    padding-left: 304px;
}
.tagline{
    text-align: center;
   
}

/* my unique section start */
.section-2{
    /* display: flex; */
    /* max-width: 1351px; */
    background-color: #ffffff;
}
.section-head{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.section-head{
    border-bottom: 1px solid aqua ;
    padding-bottom: 0 auto;
}
.section-box{
    width: 229px;
    height: 230px;
    background: aqua;
    background-image: url('../image/one.jpg');
    background-size: cover;
    box-shadow: 0px 6px 50px 0px rgba(218, 44, 44, 0.06);
}

.section-box-1{
    width: 229px;
    height: 230px;
    background: aqua;
    background-image: url('../image/two.jpg');
    background-size: cover;
    box-shadow: 0px 6px 50px 0px rgba(218, 44, 44, 0.06);
}
.section-box-2{
    width: 229px;
    height: 230px;
    background: aqua;
    background-image: url('../image/three.jpg');
    background-size: cover;
    box-shadow: 0px 6px 50px 0px rgba(218, 44, 44, 0.06);
}
.section-box-3{
    width: 229px;
    height: 230px;
    background: aqua;
    background-image: url('../image/four.jpg');
    background-size: cover;
    box-shadow: 0px 6px 50px 0px rgba(218, 44, 44, 0.06);
}
.box-container{
    align-items: center;
    padding: 15px 150px;
    padding-left: 199px;
    
}
.feature-container{
    align-items: center;
    padding: 15px 150px;
    padding-top: 1px;
    gap: 10%;
}
.featured-button{
    background: #F4B956;
    border-radius: 15px;
    border: 0;
    font-size: 14px;
    color: white;
    font-weight: 400;
    padding: 6px 22px;
    padding-top: 3px;
}
.featured-bottom{
    display: flex;
    max-width: 971px;
    gap: 6%;
    padding-left: 73px;
}
.box-title{
    font-size: 12px;
    padding-right: 23px;
}
.all-box{
    display: flex;
    gap: 2%;

}
.btn-cart{
    background: #E55473;
    border-radius: 15px;
    border: 0;
    font-size: 12px;
    color: white;
    font-weight: 500;
    padding: 17px 48px; 
}
.box-price{
    color: #E55473;
    
}



.tex-contant{
    text-align: center;
}
/* .contant{
    display: flex;
    justify-content: center;
} */
.section-container{
    height: 500px;
    background: #FEF6F8;
    display: flex;
    padding: 20px 180px;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.section{
    padding-top: 30px;
}
.btn-singup{
    background: #E55473;
    border-radius: 15px;
    border: 0;
    font-size: 12px;
    color: white;
    font-weight: 500;
    padding: 17px 48px;
}
.ins-pera{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 12px;
    font-weight: 400;

}
.section-box-4{
    width: 229px;
    height: 253px;
    background: aqua;
    background-image: url('../image/Flower\ 01.png');
    background-size: cover;
    box-shadow: 0px 6px 50px 0px rgba(218, 44, 44, 0.06);
}

.section-box-5{
    width: 229px;
    height: 253px;
    background: aqua;
    background-image: url('../image/Rectangle\ 4.png');
    background-size: cover;
    box-shadow: 0px 6px 50px 0px rgba(218, 44, 44, 0.06);
}
.section-box-6{
    width: 229px;
    height: 253px;
    background: aqua;
    background-image: url('../image/Rectangle\ 5.png');
    background-size: cover;
    box-shadow: 0px 6px 50px 0px rgba(218, 44, 44, 0.06);
}
.section-box-7{
    width: 229px;
    height: 253px;
    background: aqua;
    background-image: url('../image/Rectangle\ 6.png');
    background-size: cover;
    box-shadow: 0px 6px 50px 0px rgba(218, 44, 44, 0.06);
}
.section-head-ins{
    text-align: center;
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}


/* start footer */
.footer-box{
    padding: 16px 196px;
    border-radius: 10px;
    
}
.footer-contant{
    padding:15px 130px;
    border-radius: 10px; 
}

.box{
    height: 336px;
    width: 735px;
    padding-right: 245px;
    background-image: url('../image/Rectangle\ 9.png');
    background-size: 100% 100%;
}